html {
  margin: 0;
  padding: 0;
  background: #ffffff; }

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000; }

p {
  line-height: 20px;
  margin: 0px 0px 1px 0;
  font-align: top; }

a {
  line-height: 20px;
  margin: 0px 0px 1px 0; }

img {
  border: 0;
  line-height: 0; }

body {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  color: #000000; }

td {
  vertical-align: top; }

#web-display {
  /*background: #CDCDCD;
  height: 40px;*/ }
  #web-display a {
    font-size: 14px; }
  #web-display td {
    vertical-align: middle; }

#preheader {
  font-size: 1px;
  color: #ffffff;
  overflow: hidden;
  display: none; }

#header .logo {
  padding-top: 40px; }
#header .tag-line p {
  font-size: 14px;
  color: #000000; }

.title-spacer {
  padding-top: 20px; }

#title a {
  text-decoration: none;
  color: #ffffff; }
  #title a:visited {
    color: #ffffff; }
#title .title-bold {
  font-size: 32px;
  font-weight: 800;
  color: #ffffff;
  line-height: 32px; }
#title .title-description {
  font-size: 32px;
  color: #ffffff;
  font-weight: 0;
  line-height: 32px; }
