%html
	%head
		%meta{:content => "text/html;charset=UTF-8;", "http-equiv" => "Content-Type"}
		%title Newsletter Square
		%link{:rel => 'stylesheet', :href => '../css/newsletter_square.css'}
	%body
		%p#preheader
			Place email preview for gmail, sparrow, iPhone here. Leaving blank will result in first content
		%table#web-display{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "0", :bgcolor => "#CDCDCD", :height => "40px"}
			%tr
				%td{:align => "center"}
					%a.web-link{:href => "http://whereeveryouremaillinkgoes.com"} 
						Email not displaying? Click here!
		%table#header{:align => "center", :width => "550px", :border => "0", :cellpadding => "0", :cellspacing => "0"}
			%tr
				%td.logo{:align => "left"}
					%img{:src => "http://placekitten.com/100/40", :alt => "Where's the cat?", :width => "100px"}
			%tr
				%td.tag-line{:align => "left"}
					%p 
						Discover and Follow the Past
		%table#email-content{:align => "center", :width => "550px", :border => "0", :cellpadding => "0", :cellspacing => "0"}
			%tr
				%td.title-spacer{:colspan => "2"}
					%table{:align => "center", :width => "550px", :border => "0", :cellpadding => "0", :cellspacing => "0"}
						%tr
							%td{:bgcolor => "#358E9A", :height => "100px", :width => "550px"}
								%table{:align => "center", :width => "550px", :border => "0", :cellpadding => "20px", :cellspacing => "0"}
									%tr
										%td#title
											%a{:href => "http://yoursite.com"}
												%span.title-bold 
													Breaking,
												%span.title-description
													Duke Nukem Forever News
			%tr
				%td{:align => "left", :height => "515px"}
					%table{:width => "305px",:border => "0", :cellpadding => "0", :cellspacing => "0"}
						%tr
							%td{:align => "left", :bgcolor => "#CDCDCD", :height => "40px"}
								%p /////////////////////////////////////////////// Sept. 20, 2012
						%tr
							%td{:align => "center"}
								%img{:src => "http://placekitten.com/295/290", :alt => ""}
						%tr
							%td
								%p
									The Lowdown
								%p
									We wanted to let you know a new 'Revengeance' trailer came out today! For all other Metal Gear Rising: Revengeance news, check out its LaunchGram page.
								%p
									



				%td{:width => "245px", :height => "515px", :align => "right", :bgcolor => "#555555"}
					%table{:width => "245px", :height => "515px", :border => "0", :cellpadding => "0", :cellspacing => "0"}
						%tr
							%td{:align => "center"}
								%table.right-content-title{:border => "0", :cellpadding => "0", :cellspacing => "0"}
									%tr
										%td
											%p
												PASS IT ON ////////////
									%tr
										%td{:width => "225px", :bgcolor => "#ffffff", :align => "center"}
											%table{:width => "225px", :align => "center"}
												%tr
													%td{:align => "center"}
														%p
															Other Products & Launches You Might Enjoy
												%tr
													%td{:align => "center"}
														%img{:src => "http://placekitten.com/165/165", :alt => ""}
												%tr
													%td{:align => "center"}
														%img{:src => "http://placekitten.com/165/165", :alt => ""}

